body{
  background-color:#082f15;
  margin: 270px;
}
.image{
  border-radius: 50%;
  border: #e0e507
 solid 5px;
  }
.heading{
  color: #e0e507;
  font-size: 50px;
}
table,td{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 250px;
  padding-top: 0;
  color: linen;
  border-color:#e0e507;
  border-left: 1px solid #e0e507;
  border-right: 1px solid #e0e507;
  
}

.line{
  border: 2px solid #e9f50557;
}
ul {
  list-style-type: square;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 1opx;
  color: linen;
}
li::marker{
  color: #e0e507;
}
.para{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 1opx;
  color: linen;
}
.link{
  color: #e0e507;
  font-size: 20px;
}